.bg-elorrieta{
  background: linear-gradient(90deg, rgba(35,164,212,1) 0%, rgba(0,137,159,1) 32%, rgba(9,9,121,1) 100%);
}
.logo {
  width: 175px;
}
.language-selector {
  width: 120px; /* Ajusta el ancho según sea necesario */
  margin-left: 1rem; /* Espacio a la izquierda */
}

.language-selector .mat-form-field-wrapper {
  padding-bottom: 0; /* Elimina el espacio inferior */
}

.language-selector .mat-form-field-infix {
  border-top: 0; /* Elimina el borde superior */
}
