<div class="container">
  <div class="meeting-detail-container" style="padding-top: 10em;">
    <!-- Contenido principal -->

      <h1>{{ meeting?.titulo || 'Reunión sin título' }}</h1>

      <div class="meeting-info">
        <h2>Detalles de la reunión</h2>
        <p><strong>Fecha:</strong> {{ meeting?.fecha | date:'dd/MM/yyyy' }}</p>
        <p><strong>Aula:</strong> {{ meeting?.aula}}</p>
        <p><strong>Titulo:</strong> {{ meeting?.titulo}}</p>
        <p><strong>Asunto:</strong> {{ meeting?.asunto || 'Sin descripción' }}</p>
      </div>

      <div class="school-info" *ngIf="ikastetxe">
        <h2>Información del centro</h2>
        <p><strong>Nombre:</strong> {{ ikastetxe.NOM }}</p>
        <p><strong>Dirección:</strong> {{ ikastetxe.DOMI }}</p>
      </div>

      <div *ngIf="ikastetxe" class="map-container">
        <h2>Ubicación del Centro</h2>
        <div id="map" style="height: 400px; width: 100%;"></div>
      </div>

  </div>
</div>
