<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/bilbao-bg2.jpg');">
      <div class="filter"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
            <div class="card card-register card-opacity">
              <h2 class="text-white text-center">Welcome</h2>
              <form class="register-form" (ngSubmit)="login()">
                <label>Email</label>
                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-email-85"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" name="email" required>
                </div>
  
                <label>Password</label>
                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1}">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="nc-icon nc-key-25"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
                </div>
  
                <button type="submit" class="btn btn-block btn-round" style="background: linear-gradient(90deg, rgba(35,164,212,1) 0%, rgba(0,137,159,1) 32%, rgba(9,9,121,1) 100%);">Login</button>
              </form>
              <div *ngIf="errorMessage" class="alert alert-danger mt-2">
                {{ errorMessage }}
              </div>
            </div>
          </div>
        </div>
        <div class="footer register-footer text-center">
          <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Elorrieta Studients</h6>
        </div>
      </div>
    </div>
  </div>
  