<div class="wrapper pt-5">
  <div class="section profile-content">
    <div class="container">
      <!-- Perfil de Usuario -->
      <div class="owner text-center">

            <div class="avatar">
              <img [src]="userImage || './img/default-user.png'" alt="Profile Image" class="img-circle img-responsive" style="border-radius:580px">
            </div>
            <h2 class="title">{{ userName }} {{ userSurname }}</h2>
            <h6 class="description">{{ 'Ikaslea' | translate }}</h6>
            <p>{{ 'DNI' | translate }}: {{userDni}}</p>
            <p>{{ 'Helbidea' | translate }}: {{userDireccion}}</p>
            <p>{{ 'Telefonoa' | translate }}: {{userTelefono}}</p>

      </div>
      <mat-card class="mt-4">
        <mat-card-content>
          <mat-tab-group >
            <!-- Tab para Horarios -->
            <!-- Tab para Horarios -->
            <mat-tab label="{{ 'Ordutegia' | translate }}">
              <div class="following" id="follows">
                <h4 class="mb-3 mt-4">{{ 'Ordutegia' | translate }}</h4>
                <table class="table table-bordered table-striped table-hover text-center">
                  <thead class="table-light">
                    <tr>
                      <th class="align-middle" style="width:10%;">{{ 'Ordua' | translate }}</th>
                      <th *ngFor="let day of weekDays" class="align-middle" style="width:15%;">{{ day | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let hour of hours">
                      <td class="align-middle">{{ hour }}</td>
                      <td *ngFor="let day of weekDays" style="word-wrap: break-word;white-space: normal;">
                        <div *ngFor="let horario of getHorariosForDayAndHour(day, hour)" style="word-wrap: break-word;white-space: normal;">
                          <span style="word-wrap: break-word;white-space: normal;" class="badge text-dark"><strong>{{ horario.Modulo }}</strong></span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-tab>
            <mat-tab label="{{ 'Bilerak' | translate }}">
              <div class="d-flex flex-column following" id="follows">
                <h4 class=" mb-3 mt-4">{{ 'Bilerak' | translate }}</h4>
                <table *ngIf="reuniones && reuniones.length > 0; else noReuniones" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>{{ 'Titulua' | translate }}</th>
                      <th>{{ 'Gaia' | translate }}</th>
                      <th>{{ 'Gela' | translate }}</th>
                      <th>{{ 'Data' | translate }}</th>
                      <th>{{ 'Egoera' | translate }}</th>
                      <th>{{ 'Ikaslea' | translate }}</th>
                      <th>{{ 'Xehetasunak' | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let reunion of reuniones">
                      <td>{{ reunion.titulo }}</td>
                      <td>{{ reunion.asunto }}</td>
                      <td>{{ reunion.aula }}</td>
                      <td>{{ reunion.fecha | date : "dd/MM/yyyy HH:mm" }}</td>
                      <td>{{ reunion.estado | titlecase }}</td>
                      <td>
                        {{ reunion.profesor_nombre }}
                        {{ reunion.profesor_apellidos }}
                      </td>
                      <td>
                        <button mat-button color="primary" (click)="viewMeetingsDetails(reunion.id_reunion)">Ikusi</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <ng-template #noReuniones>
                  <p>{{ 'Ez duzu bilerarik' | translate }}</p>
                </ng-template>
              </div>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
